body {
  background-image: url("../img/parchmentBackground.jpg");
  background-size: cover;
  font-family: 'Rokkitt', serif;
  margin: 1.5em;
  padding: 1.25em;

  }

header {
  font-family: 'Merienda One', cursive;
}

header img {
  float: right;
  margin-left: 0.5em;
}

h1 {
  margin: auto;
  text-align: center;
}

button {
  padding: 1.5em;
  font-size: 1.5em;
}

#houseResult {
  font-family: 'Merienda One', cursive;
  margin-top: 1em;
}

#sortingHat img {
  margin: auto;
  display: block;
  clear: both;
  width: 10%;
  border: 0.1em solid black;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
